.header{
	position: relative;
	z-index: 15;
	&_top{
		display: none;
		@include clearfix;
		padding-bottom: 10px;
		overflow: hidden;
		@include m960{
			padding-bottom: 50px;
		}
	}
	&_left{
		float: left;
		width: 40%;
		text-align: center;
		padding-top: 40px;
		@include m960{
			float: none;
			width: 100%;
			padding-top: 10px;
			display: none;
		}
	}
	&_center{
		float: left;
		width: 20%;
		padding: 18px 7px 0 7px;
		a{
			display: block;
			img{
				display: block;
				width: 100%;
				height: auto;
				@include m960{
					max-width: 200px;
					margin: 0 auto;
				}
			}
		}
		@include m960{
			float: none;
			width: 100%;
			display: none;
		}
	}
	&_right{
		float: left;
		width: 40%;
		text-align: center;
		padding-top: 40px;
		@include m960{
			float: none;
			width: 100%;
			padding: 5px 0 10px 0;
			display: none;
		}
	}
	&_red{
		color: #e74c3c;
    font-weight: 800;
    .header_left &{
    	font-size: 44px;
    	line-height: 33px;
    	@include m960{
				font-size: 38px;
    		line-height: 30px;
    	}
    }
    .header_right &{
    	font-size: 50px;
    	line-height: 36px;
    	@include m960{
				font-size: 46px;
    		line-height: 36px;
    	}
    }
	}
	&_blue{
		color: #2980b9;	
    font-weight: 800;
    .header_left &{
    	font-size: 72px;
    	line-height: 55px;
    	@include m960{
				font-size: 65px;
    		line-height: 55px;
    	}
    }
    .header_right &{
    	font-size: 61px;
    	line-height: 48px;
    	@include m960{
				font-size: 55px;
    		line-height: 48px;
    	}
    }
	}
}