.header-logo{
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 149px;
	height: 34px;
	background: transparent url('../images/header-logo.png') left top no-repeat;
}