.logo-mobile{
	display: block;
	padding: 9px 0 12px;
	img{
		display: block;
		max-width: 201px;
		margin: 0 auto;
	}
	@include m960{
		padding: 60px 0 22px;
		box-shadow: inset 0px -4px 0px 0px rgba(233,80,59,1);
		border-bottom: 2px solid #fff;
		img{
			max-width: 225px;
		}
	}
}