.logo-mobile{
	display: block;
	width: 136px;
	height: 91px;
	img{
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	@include m960{
		width: 100%;
		height: auto;
		padding: 60px 0 22px;
		box-shadow: inset 0px -4px 0px 0px rgba(233,80,59,1);
		border-bottom: 2px solid #fff;
		img{
			max-width: 225px;
			margin: 0 auto;
		}
	}
}