.mobile-phones{
	display: none;
	@include m960{
		display: block;
		position: fixed;
		z-index: 16;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 54px;
		background-color: #e9503b;
		@include clearfix;
		font-family: arial, tahoma;
		font-size: 15px;
		border-bottom: 2px solid #fff;
	}
	@include m768{
		bottom: 54px;
	}
	&_left{
		
		float: left;
		width: 50%;
		text-align: center;
		@include link(#fff, #fff);
		text-decoration: none;
		padding: 19px 0;
		cursor: pointer;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			top: 13px;
			width: 2px;
			height: 28px;
			background-color: #fff;
		}
		/*&:before{
			content: '';
			position: absolute;
			left: 6px;
			top: 8px;
			width: 28px;
			height: 28px;
			background: url('../images/phone.png') no-repeat;
			background-size: contain;
		}*/
	}
	&_right{
		float: left;
		width: 50%;
		text-align: center;
		@include link(#fff, #fff);
		text-decoration: none;
		padding: 19px 0;
		cursor: pointer;
		position: relative;
		/*&:before{
			content: '';
			position: absolute;
			left: 6px;
			top: 8px;
			width: 28px;
			height: 28px;
			background: url('../images/phone.png') no-repeat;
			background-size: contain;
		}*/
	}
}