.newabout{
	padding: 39px 0 0 141px;
	a{
		@include link(#b3b4b4, #b3b4b4);
		font-size: 14px;
		line-height: 18px;
		font-style: italic;
	}
	&_text{
		padding: 17px 0 0;
		border-top: 1px solid #fff;
		font-family: helios;
		font-size: 14px;
		line-height: 18px;
		color: #fff;
		p{
			margin: 0 0 10px;
		}		
	}
}