.newmenu{
	background-color: #e9513b;
  @include m960{
    background-color: #e9503b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
	&_list{
    padding: 0 110px;
		text-align: justify;
    line-height: 0!important;
    font-size: 1px;
    @include old-ie{
    	*text-justify: newspaper;
    	*zoom:1;
    }
    text-align-last: justify;
    &:after{
    	width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
    @include m960{
      padding: 0;
      text-align-last: center;
      text-align: center;
      display: none;
      margin: 50px 0 0;
    }
	}
	&_item{
    display: inline-block;
    text-align: left;
    line-height: 45px;
    font-size: 18px;
    vertical-align: top;
		@include old-ie{
			*display : inline;
    	*zoom : 1;
		}
    @include m960{
      line-height: 35px;
      display: block;
      text-align: center;
    }
	}
	&_link{
		font-family: helios, open-sans, sans-serif!important;
		font-size: 18px!important;
		display: inline-block;
		padding: 0 12px;
		white-space: nowrap;
		text-decoration: none !important;
		text-transform: uppercase;
		@include link(#fff, #fff);
    font-weight: bold;
		transition: all, 0.2s;
    &:hover{
    	background: #264258;
    }
    @include m960{
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 16px!important;
      &:hover{
        background: rgba(0, 0, 0, 0.2);
      }
    }
	}
  &_toggle{
    background-color: #e9503b;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 11px 0 0 26px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    &__on{
      //background-color: #2C3E51;
    }
    @include m960{
      display: block;
    }   
  }
  &_text{
    position: relative;
    top: 3px;
    color: #fff;
    font-family: helios, open-sans, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    .newmenu_toggle__on &{
      //display: none;
    }
  }
  &_wrap{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 45px;
    height: 29px;
    border: 3px solid #fff;
    border-radius: 4px;
    padding: 10px 0 0 5px;
  }
  &_switch{
    //position: absolute;
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    .newmenu_toggle__on &{
      background-color: transparent;
    }
  }
  &_switch:before{
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .newmenu_toggle__on &{
      transform: translate(0, 7px) rotate(45deg);
    }
  }
  &_switch:after{
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .newmenu_toggle__on &{
      transform: translate(0, -7px) rotate(-45deg);
    }
  }
  
  &_switch:after, &_switch:before{
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
}