*{
  box-sizing: border-box;
}
body{
  /*background: url('../images/bac.png') #d4e0e5;
  color: $color;
  font-size: $fontSize;
  font-family: $font;*/
  //font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-family: open-sans,sans-serif;
}
.inner{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
a{
  text-decoration: underline;
  @include link(#0a5999, #0a5999);
}
b, strong {
  font-weight: bold;
}
h1{
  /*font-family: days;
  font-size: 20px;
  color: #2c2c30;
  margin: 7px 0 30px 0;*/
}
h2{
  /*font-family: benderbold;
  color: #2c2c30;
  font-size: 16px;
  margin: 0 0 21px 0;*/
}
h3,h4,h5,h6{
  /*color: #2c2c30;
  font-family: benderbold;
  margin: 0 0 21px 0;*/
}
p{
  /*line-height: 17px;
  margin-bottom: 18px;
  .frontpage &{
    margin-bottom: 16px;
  }*/
}
b, strong{
  /*font-family: benderbold;*/
}
i, em{
  font-style: italic;
}
textarea{
  resize: none;
  box-shadow: none;
  border-radius: 0px;
}
input{
  box-shadow: none;
  border-radius: 0px;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  outline: 0;
  &:focus{
    outline: none;
  }
}
select{
  /*height: 30px;
  border: 0;
  background-color: #D5E0E5;
  width: 196px;*/
}
pre{
  word-wrap: break-word;
}
.hide{
  display: none;
}














.thule_saleprice{
  display: block;
  text-decoration: line-through;
}
.thule_logo{
  position: absolute;
  top: 15px;
  left: 0px;
}
.thule_text{
  position: absolute;
  top: 0px;
  left: 121px;
}
#user-login{
  input{
    border: 1px solid #ABADB3;
  }
}
#user-register-form{
  input{
    border: 1px solid #ABADB3;
  }
}
.st-pusher{
  min-height: 511px;
}
.js .disn{
  display: block;
}
.widget_invisible, .js .invi, .js .mse_pre_init, .js .an_invi{
  visibility: visible;
}
#page{
  min-height: auto;
}
.mymessage {
  width: 900px;
  .messages{
    width: 100%;
  }
}





.node-type-display-access .logo, .page-taxonomy-term .logo{
  float: none;
  padding: 0px;
  width: auto;
}
.myaccess{
  //width: 960px;
  tbody{
    border-top: none;
  }
}
.puth {
  color: #ffffff;
  font-size: 11px;
  padding: 4px 15px;
  text-align: right;
}
.access-prod_top{
  @include clearfix;
}
.access-prod_top a {
    color: #ffffff !important;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.access_right {
    background-color: #0e76bc;
    color: #ffffff !important;
    display: block;
    float: right;
    font-family: open-sans,sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 162px;
}
.view-thule-category .view-header{
  padding: 10px 25px 20px;
  font-family: Arial,​Helvetica Neue,​Helvetica,​sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.view-bike .view-header,
.view-bike2 .view-header{
  padding-bottom: 10px;
  p{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px !important;
    margin: 0 0 10px !important;
    text-align: left !important;
    text-indent: 0 !important;
  }
}