@font-face {
    font-family: 'bender';
    src: url('../fonts/bender.eot');
    src: url('../fonts/bender.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bender.woff2') format('woff2'),
         url('../fonts/bender.woff') format('woff'),
         url('../fonts/bender.ttf') format('truetype'),
         url('../fonts/bender.svg#benderregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'benderbold';
    src: url('../fonts/benderbold.eot');
    src: url('../fonts/benderbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderbold.woff2') format('woff2'),
         url('../fonts/benderbold.woff') format('woff'),
         url('../fonts/benderbold.ttf') format('truetype'),
         url('../fonts/benderbold.svg#benderbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'days';
    src: url('../fonts/days.eot');
    src: url('../fonts/days.eot?#iefix') format('embedded-opentype'),
         url('../fonts/days.woff2') format('woff2'),
         url('../fonts/days.woff') format('woff'),
         url('../fonts/days.ttf') format('truetype'),
         url('../fonts/days.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'benderitalic';
    src: url('../fonts/benderitalic.eot');
    src: url('../fonts/benderitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderitalic.woff2') format('woff2'),
         url('../fonts/benderitalic.woff') format('woff'),
         url('../fonts/benderitalic.ttf') format('truetype'),
         url('../fonts/benderitalic.svg#benderitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'benderbolditalic';
    src: url('../fonts/benderbolditalic.eot');
    src: url('../fonts/benderbolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderbolditalic.woff2') format('woff2'),
         url('../fonts/benderbolditalic.woff') format('woff'),
         url('../fonts/benderbolditalic.ttf') format('truetype'),
         url('../fonts/benderbolditalic.svg#benderbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}